.thumbnail .caption , h3, p {
	color : #fff;
}
.c-container {
	position: relative;
	margin: 20px auto;
	width: 440px;
}

.c-container .carousel {
	position: relative;
	overflow: hidden;
}

.c-container .prev, .c-container .next {
    position: absolute;
    background: #000;
    color: #fff;
    border-radius: 39px;
    top: 42%;
    width: 23px;
    height: 23px;
    padding-left: 7px;
    font-weight: 900;
}
.dot {
	width:20px;
	height:20px;
	border-radius: 20px;
	background-color: blue;
	float: left;
    margin: 0 5px;
}
.dot.active {
	background-color:green;

}
.dots {
	list-style: none;
}

a, a:focus, a:hover {
	text-decoration: none;
}

.prev {
	left: -25px;
}

.next {
	right: -25px;
}

.clist {
	position: relative;
	list-style: none;
	width: 200000px;
	margin: 0;
	padding: 0;
	transition-property: left;
  	transition-duration:  1s;
}

.clist li{
	float: left;
}

.thumbnail {
	width: 440px;
	height: 255px;
}